/* 메인 푸드트럭 상세정보스타일 */
section ul {
  list-style-type: none;
  padding-left: 0px;
}

#row_padding {
  padding-top: 15px;
  padding-bottom: 15px;
}

.img_size {
  top: 0;
  left: 0;
  width: 90%;
  height: 70%;
}

     /*on/off스위치*/

     .onoffswitch {
      position: relative; width: 55px;
      -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
  }
  .onoffswitch-checkbox {
      display: none;
  }
  .onoffswitch-label {
      display: block; overflow: hidden; cursor: pointer;
      border: 2px solid #999999; border-radius: 20px;
  }
  .onoffswitch-inner {
      display: block; width: 200%; margin-left: -100%;
      transition: margin 0.3s ease-in 0s;
  }
  .onoffswitch-inner:before, .onoffswitch-inner:after {
      display: block; float: left; width: 50%; height: 16px; padding: 0; line-height: 16px;
      font-size: 10px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
      box-sizing: border-box;
  }
  .onoffswitch-inner:before {
      content: "ON";
      padding-left: 12px;
      background-color: green; color: #FFFFFF;
  }
  .onoffswitch-inner:after {
      content: "OFF";
      padding-right: 12px;
      background-color: #EEEEEE; color: #999999;
      text-align: right;
  }
  .onoffswitch-switch {
      display: block; width: 13px; margin: 1.5px;
      background: #FFFFFF;
      position: absolute; top: 0; bottom: 0;
      right: 35px;
      border: 2px solid #999999; border-radius: 20px;
      transition: all 0.3s ease-in 0s;
  }
  .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
      margin-left: 0;
  }
  .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
      right: 0px;
  }
  
      /*스위치*/

      @media(max-width:765px) {
        .img_size{
          width: 100px;
          height: 100%;
        }
      }
    
    
    
      @media(max-width:480px) {
        .img_size{
          top: 0;
          left: 0;
          width: 70%;
          height: 100%;
        }
      }