/*게시판 테이블 스타일*/

.table  {
  text-align: center;
  
  border-bottom: 2px solid rgba(134, 134, 133, 0.329);
  }
  
  .table thead {
  
  border-top: 3px solid rgba(114, 114, 111, 0.329);
  
  }


  #tablehead {
  background-color:#b1ddabaf;
  color: white;
  }
  
  .table tr:nth-of-type(2n) {
  background-color:#44a3e207;
  }
  
  .table tr>td:first-of-type {
  text-align: center;
  
  }

 
  
/*페이지 번호 정렬*/

.pagination {
  display: block;
  text-align: center;
}

.pagination>li>a {
  float: none;
}


.panel{
  margin-top: 70px;
}